.commandInput {
    width: calc(100% - 25px);
    font-size: 2em;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid snow;
}

.commandEditor {
    width: 100%;    
    ul.editorCont {
        margin: 10px 10px -5px 10px;
        height: 150px;
        padding: 10px;
        background-color: azure;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-evenly;
        list-style: none;
        scroll-behavior: auto;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 12px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
        }
        li {
            background-color: green;
            padding: 4px 6px;
            border-radius: 10px;
            color: white;
            font-weight: 600;
            display: flex;
            line-height: 1.2em;
            font-size: 13px;
            margin-bottom: 3px;

            
            &.fd {
                background-color: red;             
            }
            &.bk {
                background-color: red;             
            }
            &.tl {
                background-color: blue;                
            }
            &.tr {
                background-color: blue;                
            }
            &.repeat {
                background-color: rgb(255, 0, 212);                
            }
            &.hideturtle {
                background-color: rgb(22, 150, 155);             
            }
            &.showturtle {
                background-color: rgb(22, 150, 155);             
            }
            &.penup {
                background-color: rgb(217, 236, 40);             
            }
            &.pendown {
                background-color: rgb(217, 236, 40);    ;             
            }
            &.setpc {
                background-color: rgb(102, 102, 102);             
            }
            &.setbc {
                background-color: rgb(102, 102, 102);             
            }
            &.to {
                background-color: rgb(166, 25, 179);             
            }
            &.save {
                background-color: rgb(214, 107, 18);             
            }
            &.load {
                background-color: rgb(214, 107, 18);              
            }
            &.home {
                background-color: rgb(108, 186, 218);             
            }
            &.setpos {
                background-color: rgb(108, 186, 218);               
            }            

            .removeButton {                
                padding: 3px 8px;
                height: 18px;
                margin-left: 3px;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.5);

                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.7);
                }
            }

            ul {
                display: flex;
                padding-left: 5px;
                padding-right: 5px;
            }

            .tagName {
                margin-top: 3px;
                display: flex;
                border-radius: 9px;
                border: 2px  solid rgba(128, 128, 128, 0.15);
            }
        }
    }    
  }

  .commendList {
      margin: 10px;
      margin-top: 30px;
      color: white;
      
      div.commandItem {
        border: 1px solid rgba($color: gray, $alpha: 0.5);
        margin-bottom: 5px;        
        &.fd {
            background-color: red;             
        }
        &.bk {
            background-color: red;             
        }
        &.tl {
            background-color: blue;                
        }
        &.tr {
            background-color: blue;                
        }
        &.repeat {
            background-color: rgb(255, 0, 212);
            div {
                margin-left: 15px;
            }
            .repeat {
                background-color: rgba(238, 5, 199, 0.87);
                .repeat {
                    background-color: rgba(238, 5, 199, 0.93);
                    .repeat {
                        background-color: rgba(238, 5, 199, 0.99);
                    }  
                }  
            }                
        }
        &.hideturtle {
            background-color: rgb(22, 150, 155);             
        }
        &.showturtle {
            background-color: rgb(22, 150, 155);             
        }
        &.penup {
            background-color: rgb(217, 236, 40);             
        }
        &.pendown {
            background-color: rgb(217, 236, 40);    ;             
        }
        &.setpc {
            background-color: rgb(102, 102, 102);             
        }
        &.setbc {
            background-color: rgb(102, 102, 102);             
        }
        &.to {
            background-color: rgb(166, 25, 179);             
        }
        &.save {
            background-color: rgb(214, 107, 18);             
        }
        &.load {
            background-color: rgb(214, 107, 18);              
        }
        &.home {
            background-color: rgb(108, 186, 218);             
        }
        &.setpos {
            background-color: rgb(108, 186, 218);               
        }        
    }
    .heading {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 36px;     

        input {
            height: 19px;
            border-radius: 4px;
            text-align: center;
            width: 70px;
        }
        button {            
            margin: 0 5px;
            height: 30px;
            width: 30px;
            border-radius: 5px;            
            &.remove {
                background-color: red;
            }
        }
    }
    .description {
        p {
            height: 20px;
            text-align: right;
            margin: 0;
            margin-top: -4px;
            margin-right: 10px;
            color: #eadfdf;
            font-size: x-small;
        }
    }    
  }

