$scr-xs: 320px;
$scr-sm: 768px;
$scr-md: 992px;
$scr-lg: 1200px;


.helperLayer {
    position: absolute;
    z-index: 5;

    .menuIcon {
        position: relative;
        top: calc(100vh / 2 + -70px);
        background-color: white;
        border: 1px solid green;
        padding: 11px 3px 10px 3px;
        font-size: 34px;
        &.left {
            left: 10px;
        }

        &.right {
            left: calc(100vw - 47px);
            top: calc(100vh / 2 + -141px);
        }
    }
}
.helperWindow {
    position: absolute;
    z-index: 3;
    background: white;
    top: 20px;
    left: 0;
    border: 1px solid black;
    height: 850px;
    width: calc(100vw - 240px);
    display: none;

    &.left {
        left: 100px;
        animation: movingLeftToRight 3s 1 alternate ease-in-out;
        @keyframes movingLeftToRight{
            from {
                left: -5000%;
            }        
            to {
                left: 350%;
            }
        }
    }
    &.right {
        left: 100px;
        animation: movingRightToLeft 3s 1 alternate ease-in-out;
        @keyframes movingRightToLeft{
            from {
                left: 5000%;
            }        
            to {
                left: 350%;
            }
        }
    }

    .header {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline;
        &.simple {
            color: blue;
        }
        &.crazy {
            color: green
        }
        &.color {
            color: orange
        }
    }

    .commandType {
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        
        &::-webkit-scrollbar {
            width: 12px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.75);
        }
        p {
            margin: 3px 0px;

            &.path {
                background-color: rgb(222, 248, 239);
                border-radius: 5px;
                border: 1px solid gray;
                font-size: 10.4px;
                margin: 0px;
            }
        }

        .pathexample { 
            padding: 5px 5px 5px 15px;
            margin: 12px 8px;
            cursor: pointer;
        }
        &.crazy {           

            &::-webkit-scrollbar-thumb {
                background-color: rgba(67, 230, 17, 0.24);  
            }
          
            .pathexample {
                background-color: rgb(167, 255, 167);
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);
                    -moz-box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);
                    box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);;                    
                }
            }            
        }
        &.simple {           
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(17, 31, 230, 0.24);  
            }
            
            .pathexample {
                background-color: rgb(200, 200, 255);
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px #c8c8ff;;
                    -moz-box-shadow: 3px 3px 15px 9px #c8c8ff;;
                    box-shadow: 3px 3px 15px 9px #c8c8ff;;                    
                }
            }            
        }   
        &.color {
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(230, 145, 17, 0.24);  
            }
            
            .pathexample {
                background-color: rgb(253, 229, 184);                
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px rgb(253, 229, 184); 
                    -moz-box-shadow: 3px 3px 15px 9px rgb(253, 229, 184); 
                    box-shadow: 3px 3px 15px 9px rgb(253, 229, 184);                     
                }
            }            
        }           
    }

    .commandsList {
        display: grid;
        grid-template-columns: 50% 50%;        

        .commandItem {
            display: flex;
            border-bottom: 1px solid black;
            
            img {
                width: 103.5px;
                height: 103.5px;
            }

            .itemDesc {
                width: 100%;
                .description {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    text-align: center;                    
    
                    div {
                        border-bottom: 1px solid black;
                    }
                }
            }

           
        }

        .commandsLeft {
            .commandItem {
                flex-direction: row-reverse;

                img {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                }

                .itemDesc {
                    .description {
                        div {
                            border-right: 1px solid black;
                        }                  
    
                    }
                }

            }
        }

        .commandsRight {
            .commandItem {
                flex-direction: row;

                img {
                    border-right: 1px solid black;
                }

                .itemDesc {
                    .description {
                        div {
                            border-right: 1px solid black;
                        } 
                    }                    
                }
            }
        }
    }
}

.tutorialPopup {
    position: absolute;
    width: 60%;
    height: 65%;
    background: white;
    z-index: 10;
    border: 1px solid black;
    left: 20%;
    top: 17.5%;
    display: grid;
    grid-template-rows: 90% 10%;    
    
    
    .title {
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        padding-right: 30px;
        justify-content: end;
        flex-direction: row-reverse;

        p {
            margin-right: 280px;
            font-size: 20px;
            font-weight: 800;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100%;

        img {
            padding: 20px;
            height: 70%;
            width: 90%;
            border-right: 1px solid;           
        }

        .tip {
            padding: 93px;
            height: 100%;
            font-size: 23px;
        }
    }

    button {
        background-color: white;
        border: 4px solid rgb(207, 189, 87);
        font-weight: 700;
        color: rgb(168, 148, 36);
        font-size: 18px;
        padding: 6px 11px;

        &:hover {
            background-color: rgb(168, 148, 36);
            border: 4px solid rgb(168, 148, 36);
            color: white;
            text-shadow: 2px 2px black;
            -webkit-box-shadow: 3px 3px 0px 0px black;
            -moz-box-shadow: 3px 3px 0px 0px black;
            box-shadow: 3px 3px 0px 0px black;
        }
    }

    .tutorialNav {
        display: flex;
        justify-content: space-between;
        padding: 10px 90px;
        border-top: 1px solid;     
    }

    @media screen and (min-width: $scr-xs) and (max-width: $scr-sm) {
        width: 83%;
        height: 91%;
        left: 10.5%;
        top: 5.5%;

        .title {
            padding-left: 9px;
            flex-direction: row;    
    
            p {
                margin-left: 17px;
                font-size: 12px;
                margin-right: 0;        
            }
        }

        .content {            
            grid-template-columns: 1fr;
            img {                
                padding: 10px;
                height: 600%;
                width: 95%;
                border-right: 0px solid;  
                border-bottom: 1px solid;    
            }
    
            .tip {
                padding-top: 370px;
                height: 100%;
                font-size: 18px;
            }
        }

        button {
            font-size: 14px;
            padding: 3px 6px;
        }

        .tutorialNav {
            padding: 10px 91px;
        }
    }

    @media screen and (min-width: $scr-sm) and (max-width: $scr-md)  {
        width: 88%;
        height: 92%;
        left: 6.5%;
        top: 4.5%;

        .title {
            padding-left: 9px;
            flex-direction: row;    
    
            p {
                margin-left: 17px;
                font-size: 12px;
                margin-right: 0;        
            }
        }

        .content {            
            grid-template-columns: 1fr;
            img {                
                padding: 10px;
                height: 400%;
                width: 95%;
                border-right: 0px solid;  
                border-bottom: 1px solid;    
            }
    
            .tip {
                padding-top: 370px;
                height: 100%;
                font-size: 18px;
            }
        }

        button {
            font-size: 14px;
            padding: 3px 6px;
        }

        .tutorialNav {
            padding: 10px 91px;
        }
    }

    @media screen and (min-width: $scr-md) and (max-width: $scr-lg)  {
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;

        .title {
            padding-left: 9px;
            flex-direction: row-reverse;    
    
            p {
                font-size: 16px;
                margin-right: 200px;        
            }
        }

        .content {            
            img {                
                padding: 10px;
                width: 95%;
                height: 442px;
                border-right: 1px solid;
            }
    
            .tip {
                padding-top: 90px;
                height: 100%;
                font-size: 20px;
            }
        }

        button {
            font-size: 12px;
            padding: 3px 6px;
        }

        .tutorialNav {
            padding: 10px 91px;
        }
    }

}