.helperLayer {
    position: absolute;
    z-index: 5;

    .menuIcon {
        position: relative;
        top: calc(100vh / 2 + -70px);
        background-color: white;
        border: 1px solid green;
        padding: 11px 3px 10px 3px;
        font-size: 34px;
        &.left {
            left: 10px;
        }

        &.right {
            left: calc(100vw - 47px);
            top: calc(100vh / 2 + -141px);
        }
    }
}
.helperWindow {
    position: absolute;
    z-index: 3;
    background: white;
    top: 20px;
    left: 0;
    border: 1px solid black;
    height: 850px;
    width: calc(100vw - 240px);
    display: none;

    &.left {
        left: 100px;
        animation: movingLeftToRight 3s 1 alternate ease-in-out;
        @keyframes movingLeftToRight{
            from {
                left: -5000%;
            }        
            to {
                left: 350%;
            }
        }
    }
    &.right {
        left: 100px;
        animation: movingRightToLeft 3s 1 alternate ease-in-out;
        @keyframes movingRightToLeft{
            from {
                left: 5000%;
            }        
            to {
                left: 350%;
            }
        }
    }

    .header {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: underline;
        &.simple {
            color: blue;
        }
        &.crazy {
            color: green
        }
        &.color {
            color: orange
        }
    }

    .commandType {
        display: flex;
        justify-content: start;
        overflow-x: scroll;
        
        &::-webkit-scrollbar {
            width: 12px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.75);
        }
        p {
            margin: 3px 0px;

            &.path {
                background-color: rgb(222, 248, 239);
                border-radius: 5px;
                border: 1px solid gray;
                font-size: 12px;
                margin: 0px;
            }
        }

        .pathexample { 
            padding: 5px 5px 5px 15px;
            margin: 12px 8px;
        }
        &.crazy {           

            &::-webkit-scrollbar-thumb {
                background-color: rgba(67, 230, 17, 0.24);  
            }
          
            .pathexample {
                background-color: rgb(167, 255, 167);
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);
                    -moz-box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);
                    box-shadow: 3px 3px 15px 9px rgb(167, 255, 167);;                    
                }
            }            
        }
        &.simple {           
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(17, 31, 230, 0.24);  
            }
            
            .pathexample {
                background-color: rgb(200, 200, 255);
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px #c8c8ff;;
                    -moz-box-shadow: 3px 3px 15px 9px #c8c8ff;;
                    box-shadow: 3px 3px 15px 9px #c8c8ff;;                    
                }
            }            
        }   
        &.color {
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(230, 145, 17, 0.24);  
            }
            
            .pathexample {
                background-color: rgb(253, 229, 184);                
                &:hover {                    
                    -webkit-box-shadow: 3px 3px 15px 9px rgb(253, 229, 184); 
                    -moz-box-shadow: 3px 3px 15px 9px rgb(253, 229, 184); 
                    box-shadow: 3px 3px 15px 9px rgb(253, 229, 184);                     
                }
            }            
        }           
    }

    .commandsList {
        display: grid;
        grid-template-columns: 50% 50%;

        .commandItem {
            display: flex;
            border-bottom: 1px solid black;
            
            img {
                width: 93.5px;
                height: 93.5px;
            }
        }

        .commandsLeft {
            .commandItem {
                flex-direction: row-reverse;

                img {
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                }
            }
        }

        .commandsRight {
            .commandItem {
                flex-direction: row;

                img {
                    border-right: 1px solid black;
                }
            }
        }
    }
}