@import "./styles/commandTags.scss";
@import "./styles/popup.scss";
@import "./styles/helpers.scss";

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 7fr 6fr;
  height: 100vh;
  .editorLine {
    background-color: gray;
    position: relative;
    
    .canvas {
      resize: both;
      overflow: auto;
      width: 1000px;
      background-color: white;
      margin: 10px; 
      max-width: 1022px;
      canvas {
        width: 1000px;
        height: 800px;
      }

      ::-webkit-scrollbar {
        width: 0px;
      }
    }
    
  }
  .commandListLine {
    background-color: rgb(95, 95, 95);
  }
}
