@import "./styles/commandTags.scss";
@import "./styles/popup.scss";
@import "./styles/helpers.scss";

$scr-xs: 320px;
$scr-sm: 768px;
$scr-md: 992px;
$scr-lg: 1200px;

@media screen and (min-width: $scr-xs) and (max-width: $scr-sm) {
}

@media screen and (min-width: $scr-sm) and (max-width: $scr-md)  {
    
}

@media screen and (min-width: $scr-md) and (max-width: $scr-lg)  {

}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: 8fr 5fr;

  @media screen and (min-width: $scr-xs) and (max-width: $scr-sm) {
    background-color: red;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: $scr-sm) and (max-width: $scr-md)  {
    background-color: green;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: $scr-md) and (max-width: $scr-lg)  {
    
  }
  .editorLine {
    background-color: gray;
    position: relative;
    min-width: 60%;
    .canvas {
      background-color: white;
      margin: 0px 10px;      
      canvas {        
      }

      ::-webkit-scrollbar {
        width: 0px;
      }
    }
    
  }
  .commandListLine {
    background-color: rgb(95, 95, 95);
  }
}
